/**********************************************************************************
* Copyright (c)  2008-2020  Guangdong oplus Mobile Comm Corp., Ltd
*
***********************************************************************************/
&odm {
	nfc_chipset:nfc_chipset {
		compatible = "oplus-nfc-chipset";
		chipset-23021 = "SN220T";
	};
};

&clock_buffer_ctrl {
	mediatek,xo-bbck4 = <1>;
};

&i2c3 {
       status = "okay";
       clock-frequency = <400000>;
       nq@28 {
               compatible = "nxp,sn-nci";
               reg = <0x28>;
               nxp,sn-irq = <&pio 143 0x0>;
               nxp,sn-ven-rstn = <&pio 164 0x0>;
               nxp,sn-clkreq = <&pio 194 0x0>;
               interrupt-parent = <&pio>;
       };
};

&spi1 {
       status = "okay";
       #address-cells = <1>;
       #size-cells = <0>;
       spidev1: p61@1 {
       compatible = "nxp,sn-ese";
       reg = <0>;
       spi-max-frequency = <19200000>;
       nxp,nfcc = "3-0028";
       };
};