CONFIG_PXLW_IRIS=y
#ifdef OPLUS_FEATURE_CHG_BASIC
CONFIG_OPLUS_CHARGER=y
CONFIG_OPLUS_CHARGER_MTK=y
CONFIG_OPLUS_CHARGER_MTK_CHGIC=y
CONFIG_OPLUS_CHARGER_MTK6895S=y
CONFIG_MTK_KERNEL_POWER_OFF_CHARGING=y
CONFIG_OPLUS_4400MV_BATTERY_SUPPORT=y
CONFIG_OPLUS_CALL_MODE_SUPPORT=y
CONFIG_OPLUS_CHECK_CHARGERID_VOLT=y
CONFIG_OPLUS_SHIP_MODE_SUPPORT=y
CONFIG_OPLUS_SHORT_C_BATT_CHECK=y
CONFIG_OPLUS_SHORT_HW_CHECK=y
CONFIG_OPLUS_SHORT_USERSPACE=y
CONFIG_OPLUS_CHIP_SOC_NODE=y
CONFIG_OPLUS_RTC_DET_SUPPORT=y
CONFIG_OPLUS_HVDCP_SUPPORT=y
CONFIG_OPLUS_SHORT_IC_CHECK=y
CONFIG_OPLUS_SMART_CHARGER_SUPPORT=y
CONFIG_OPLUS_SMART_CHARGE=y
CONFIG_OPLUS_CHG_DYNAMIC_CONFIG=y
CONFIG_OPLUS_MTK_DRM_GKI_NOTIFY_CHG=y
CONFIG_HAPTIC_FEEDBACK=m
CONFIG_AW8697_HAPTIC=m
CONFIG_OPLUS_CHG=m
CONFIG_OPLUS_CHG_V2=m
CONFIG_OPLUS_CHG_IC_DEBUG=y
CONFIG_OPLUS_CHG_MMS_DEBUG=y
CONFIG_OPLUS_DA9313_CHARGER=y
CONFIG_OPLUS_MP2762_CHARGER=y
CONFIG_OPLUS_CHARGER_OPTIGA=y
CONFIG_OPLUS_CHARGER_MAXIM=y
CONFIG_REGULATOR_MT6368=m
CONFIG_OPLUS_MT6375_CHARGER=y
CONFIG_OPLUS_CHG_VOOCPHY=y
CONFIG_OPLUS_CHG_AP_VOOCPHY=y
CONFIG_OPLUS_CHG_VOOCPHY_CHGLIB=y
CONFIG_OPLUS_VOOCPHY_SC8517=y
CONFIG_OPLUS_UFCS_SC8547A=y
CONFIG_OPLUS_VOOCPHY_SLAVE_SC8547=y
CONFIG_OPLUS_UFCS_CLASS=m
CONFIG_OPLUS_UFCS_MASTER_NU2112A=y
CONFIG_OPLUS_UFCS_SLAVE_NU2112A=y
CONFIG_OPLUS_DYNAMIC_CONFIG=m
CONFIG_OPLUS_DYNAMIC_CONFIG_CHARGER=y

CONFIG_LEDS_AW210XX=m
CONFIG_DRM_PANEL_OPLUS22017_TIANMA_ILI7838A_FHD_DSI_CMD=m
CONFIG_DRM_PANEL_OPLUS22017_BOE_NT37705_FHD_DSI_CMD=m
CONFIG_DRM_PANEL_OPLUS22047_TM_NT37705_FHD_DSI_CMD=m
CONFIG_DRM_PANEL_OPLUS22047_BOE_NT37705_FHD_DSI_CMD=m
CONFIG_DRM_PANEL_AC124_P_3_A0004_CMD_PANEL=m
CONFIG_DRM_PANEL_AC124_P_B_A0012_CMD_PANEL=m
CONFIG_DRM_PANEL_AC160_P_3_A0004_CMD_PANEL=m
CONFIG_DRM_PANEL_AC160_P_7_A0001_CMD_PANEL=m
#endif
CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT=y
CONFIG_TOUCHPANEL_SYNAPTICS_TCM_S3910=m
CONFIG_MTK_GLT_AGREEMENT=y
CONFIG_OPLUS_SCHED_MT6895=y
#ifdef OPLUS_FEATURE_PERFORMANCE_SCHED
CONFIG_OPLUS_FEATURE_FRAME_BOOST=m
#endif /* OPLUS_FEATURE_PERFORMANCE_SCHED */
CONFIG_UA_KERNEL_CPU_IOCTL=m
CONFIG_MTK_AIVRS_AGREEMENT=y
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y

# Add for zram usage.
CONFIG_OPLUS_BALANCE_ANON_FILE_RECLAIM=y

CONFIG_OPLUS_FEATURE_ABNORMAL_FLAG=m

#ifdef OPLUS_FEATURE_CAMERA_COMMON
#Add for DFX camera exeption event and log feedback
CONFIG_OPLUS_CAM_EVENT_REPORT=m
#endif /* OPLUS_FEATURE_CAMERA_COMMON */
CONFIG_OPLUS_CHG_TEST_KIT=m
#Add aw88265 driver
CONFIG_SND_SOC_CODEC_AW882XX=m

#add for pcpu_rwsem protect
CONFIG_PCPU_RWSEM_LOCKING_PROTECT=y