CONFIG_OPLUS_MTK_DRM_GKI_NOTIFY_CHG=n
CONFIG_OPLUS_CHG_DYNAMIC_CONFIG=n
CONFIG_OPLUS_FEATURE_MM_BOOSTPOOL=n
CONFIG_OPLUS_BINDER_STRATEGY=n
CONFIG_OPLUS_LOCKING_STRATEGY=n
CONFIG_OPLUS_FEATURE_GKI_CPUFREQ_BOUNCING=n
CONFIG_OPLUS_FEATURE_PERFORMANCE_FS=n
CONFIG_OPLUS_FEATURE_PERFORMANCE_MM=n
CONFIG_OPLUS_FEATURE_MM_OSVELTE=n
CONFIG_DUMP_TASKS_MEM=n
CONFIG_HYBRIDSWAP_ZRAM=n
CONFIG_OPLUS_FEATURE_ZRAM_OPT=n
CONFIG_OPLUS_FEATURE_TASK_SCHED=n
CONFIG_OPLUS_FEATURE_SAUPWK=n
CONFIG_OPLUS_FEATURE_PMIC_MONITOR_MTK=n
CONFIG_OPLUS_FEATURE_HUNG_TASK_ENHANCE=n
CONFIG_OPLUS_FINGERPRINT=n
CONFIG_OPLUS_FINGERPRINT_GKI_ENABLE=n
CONFIG_OPLUS_FINGERPRINT_GOODIX_OPTICAL=n
CONFIG_OPLUS_FINGERPRINT_JIIOV_OPTICAL=n
CONFIG_OPLUS_FINGERPRINT_SILEAD_CAP=n
CONFIG_OPLUS_FINGERPRINT_COMMON=n
CONFIG_OPLUS_FINGERPRINT_MTK=n
CONFIG_OPLUS_FINGERPRINT_USE_PROC_OPS=n
CONFIG_OPLUS_FEATURE_DNS_HOOK=n
CONFIG_OPLUS_FEATURE_STATS_CALC=n
CONFIG_OPLUS_FEATURE_DATA_EVAL=n
CONFIG_OPLUS_FEATURE_WIFI_SLA=n
CONFIG_OPLUS_SECURE_COMMON=n
CONFIG_OPLUS_FEATURE_MIDAS_GKI=n
CONFIG_OPLUS_FEATURE_APP_MONITOR=n
CONFIG_OPLUS_FEATURE_HANS_GKI=n
CONFIG_OPLUS_MTK_DRM_GKI_NOTIFY_CHG=n
CONFIG_OPLUS_CHG_DYNAMIC_CONFIG=n
CONFIG_OPLUS_FEATURE_MM_BOOSTPOOL=n
CONFIG_OPLUS_FEATURE_KMSG_WB=n
CONFIG_OPLUS_FEATURE_FDLEAK_CHECK=n