CONFIG_PXLW_IRIS=y
#ifdef OPLUS_FEATURE_CHG_BASIC
#/* Add for charging */
CONFIG_OPLUS_CHG=m
CONFIG_OPLUS_CHARGER=y
CONFIG_OPLUS_CHARGER_MTK=y
CONFIG_OPLUS_CHARGER_MTK_CHGIC=y
CONFIG_OPLUS_CHARGER_MTK6789S=y
CONFIG_MTK_KERNEL_POWER_OFF_CHARGING=y
CONFIG_OPLUS_4400MV_BATTERY_SUPPORT=y
CONFIG_OPLUS_CALL_MODE_SUPPORT=y
CONFIG_OPLUS_CHECK_CHARGERID_VOLT=y
CONFIG_OPLUS_SHIP_MODE_SUPPORT=y
CONFIG_OPLUS_SHORT_C_BATT_CHECK=y
CONFIG_OPLUS_SHORT_HW_CHECK=y
CONFIG_OPLUS_SHORT_USERSPACE=y
CONFIG_OPLUS_CHIP_SOC_NODE=y
CONFIG_OPLUS_RTC_DET_SUPPORT=y
CONFIG_OPLUS_HVDCP_SUPPORT=y
CONFIG_OPLUS_SHORT_IC_CHECK=y
CONFIG_OPLUS_SMART_CHARGER_SUPPORT=y
CONFIG_OPLUS_CHG_DYNAMIC_CONFIG=y
CONFIG_OPLUS_MTK_DRM_GKI_NOTIFY_CHG=y
CONFIG_AW8697_HAPTIC=m
#CONFIG_OPLUS_CHG_V2=m
CONFIG_OPLUS_CHG_IC_DEBUG=y
CONFIG_OPLUS_CHG_MMS_DEBUG=y
CONFIG_OPLUS_DA9313_CHARGER=y
CONFIG_OPLUS_MP2762_CHARGER=y
CONFIG_OPLUS_CHARGER_OPTIGA=y
CONFIG_USB_MTK_HDRC=m
CONFIG_MTK_MUSB_QMU_SUPPORT=y
CONFIG_MTK_MUSB_QMU_PURE_ZLP_SUPPORT=y
CONFIG_NOP_USB_XCEIV=m
CONFIG_MTK_MUSB_QMU_SUPPORT=y
CONFIG_MTK_MUSB_QMU_PURE_ZLP_SUPPORT=y
CONFIG_TCPC_SGM7220=m
CONFIG_TCPC_WUSB3801X=m
CONFIG_REGULATOR_MT6368=m
#endif
CONFIG_REGULATOR_OPLUS_WL2868C_FP_LDO=y
CONFIG_LEDS_AW210XX=m
CONFIG_DRM_PANEL_OPLUS2269C_SAMSUNG_AMS643AG01_1080P_DSI_CMD=m
CONFIG_DRM_PANEL_OPLUS22281_SAMSUNG_AMS643AG01_1080P_DSI_CMD=m
CONFIG_DRM_PANEL_OPLUS22281_SAMSUNG_AMS643AG01_1080P_DSI_VDO=m

CONFIG_LEDS_MTK_DISP=m
# CONFIG_LEDS_MTK_PWM is not set
CONFIG_OPLUS_DEVICE_IFNO=m
CONFIG_OPLUS_MTK_DRM_GKI_NOTIFY=y
CONFIG_TOUCHPANEL_MTK_PLATFORM=y
CONFIG_TOUCHPANEL_OPLUS=m
CONFIG_TOUCHPANEL_NOTIFY=m
CONFIG_TOUCHPANEL_CUSTOM=m
CONFIG_TOUCHPANEL_FOCAL_FT3518=m
CONFIG_TOUCHPANEL_FOCAL=m
CONFIG_TOUCHPANEL_SYNAPTICS_TCM_S3910=m
CONFIG_MTK_GLT_AGREEMENT=y
CONFIG_OPLUS_SCHED_MT6895=y
CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT=y
#ifdef OPLUS_FEATURE_PERFORMANCE_SCHED
# add to support oplus feature frame boost
CONFIG_OPLUS_FEATURE_FRAME_BOOST=m
#endif /* OPLUS_FEATURE_PERFORMANCE_SCHED */
CONFIG_CUSTOM_KERNEL_IMGSENSOR="s5kjn1_mipi_raw_doki ov16a1q_mipi_raw_doki ov02b1b_mipi_mono_doki sc201cs_mipi_mono_doki ov32c_mipi_raw_changzheng ov02b1b_mipi_mono_changzheng sc201cs_mipi_raw_changzheng gc02m1_mipi_raw_changzheng ova0b4_mipi_raw_changzheng s5khm6s_mipi_raw_changzheng"
CONFIG_MTK_CAMERA_LDO=m
CONFIG_MTK_VIDEO_AW36518=m
CONFIG_MTK_VIDEO_AW36518_22282=m

#ifdef OPLUS_FEATURE_UFF_FINGERPRINT
CONFIG_OPLUS_FINGERPRINT_GKI_ENABLE=y
CONFIG_UFF_FINGERPRINT=m
CONFIG_UFF_FINGERPRINT_MTK=y
CONFIG_FP_SUPPLY_MODE_LDO=y
#endif /* OPLUS_FEATURE_UFF_FINGERPRINT */

CONFIG_MTK_AIVRS_AGREEMENT=y
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
CONFIG_SIA_PA_ALGO=y
CONFIG_SND_SOC_SIA81XX=m
CONFIG_MTK_FM_50KHZ_SUPPORT=y
CONFIG_SND_SOC_OPLUS_PA_MANAGER=m
CONFIG_OPLUS_FEATURE_MM_FEEDBACK=m
CONFIG_HSKEY_BLOCK=y
CONFIG_NFC_PN553_DEVICES=m
CONFIG_OPLUS_NFC=m
CONFIG_MTK_VOW_SUPPORT=m
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=n
CONFIG_MTK_VOW_GVA_SUPPORT=y
CONFIG_MTK_VOW_AMAZON_SUPPORT=n
CONFIG_MTK_VOW_DUAL_MIC_SUPPORT=n
CONFIG_MTK_VOW_MAX_PDK_NUMBER=0
CONFIG_MTK_VOW_DSP_VERSION="ver02"
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=n
CONFIG_MTK_ISP_IRQ_CONTROLLER=y

# CONFIG_ZRAM is not set
CONFIG_OPLUS_MTK_PLATFORM=y

#ifdef OPLUS_FEATURE_STORAGE_TOOL
CONFIG_CHR_DEV_SG=m
#endif
# disable oplus hung task enhance

CONFIG_OPLUS_BALANCE_ANON_FILE_RECLAIM=y
